@page "/Admin"
@inject UserService UserService
@attribute [Authorize(Roles = "Admin")]
<h3>Admin</h3>

<input type="text" @bind="email">
<button @onclick="() => AddUser()">Add user</button>

@code {
    string email;

    public void AddUser()
    {
        UserService.AddClient(email);
    }
}