@page "/Admin"
@inject UserService UserService
<h3>Admin</h3>

<input type="text" @bind="email">
<button @onclick="() => AddUser()"></button>

@code {
    string email;

    public void AddUser()
    {
        UserService.AddClient(email);
    }
}