@page "/Auctions"
@using Aukce.Data
<h3>Auctions</h3>
@inject AuctionService AuctionService
@inject NavigationManager navigationManager

<h2>Kategorie</h2>
@foreach (var category in AuctionService.GetCategories())
{
    <div @onclick="() => RedirectToCategory(category.Id)">
        <p>@category.Title</p>
    </div>
}
<h2>Top 10 aukci</h2>

@foreach (var auction in AuctionService.GetTop10Auctions())
{
    <div @onclick="() => RedirectToAuction(auction.Id)">
        <p>@auction.Title</p>
    </div>
}

@code {
    List<Auction> auctions = new List<Auction>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        auctions = AuctionService.GetAuctions();
    }

    public void RedirectToAuction(int id)
    {
        navigationManager.NavigateTo($"auction/{id}");
    }

    public void RedirectToCategory(int id)
    {
        navigationManager.NavigateTo($"category/{id}");
    }
}