@page "/category/{id:int}"
@using Aukce.Data
@inject AuctionService AuctionService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
<h1>category view</h1>


<h2>Title: @category.Title</h2>
@foreach (var auct in AuctionService.GetAuctions(id))
{
    <div @onclick="() => RedirectToAuction(auct.Id)">
        @auct.Title
        <br/>
    </div>
}

@code {

    [Parameter]
    public int id { get; set; }

    public Category category = new Category();


    protected override void OnInitialized()
    {
        base.OnInitialized();
        category = AuctionService.GetCategory(id);
    }

    public async void AddBid()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
    }

    public void RedirectToAuction(int id)
    {
        navigationManager.NavigateTo($"auction/{id}");
    }
}