@page "/editcategory/{id:int}"
@using Aukce.Data
@inject AuctionService AuctionService
@attribute [Authorize(Roles = "Admin")]
<h1>category edit</h1>

<EditForm Model="category">
    <div class="form-group">
        <label for="">Title</label>
        <InputText @bind-Value="category.Title"/>
    </div>
    <div class="form-group">
        <label for="">Description</label>
        <InputText @bind-Value="category.Description"/>
    </div>
    <button type="button" @onclick="() => SendEdited()">Edit category</button>
</EditForm>

@code {

    [Parameter]
    public int id { get; set; }

    public Category category = new Category();


    protected override void OnInitialized()
    {
        base.OnInitialized();
        category = AuctionService.GetCategory(id);
    }

    public void SendEdited()
    {
        AuctionService.EditCategory(category);
    }
}